body {
    background: #ea6542;
    div {
        display: flex;
        background: #f2f2f2;
        .pic {
            display: block;
            width: 400px;
            height: 400px;
            transform: translateX(100px);
        }
    }
}