body {
    background: #911e4e;
    div {
        display: flex;
        background: #4664c7;
        .pic {
            display: block;
            width: 400px;
            height: 300px;
            transform: translateX(100px);
        }
    }
}